{% load static %}

<head>
  <title>LDERP PassChange</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type='text/javascript' src='{% static "frontend/scripts/homescripts.js" %}'></script>
  <script type='text/javascript' src='{% static "frontend/scripts/dashboard.js" %}'></script>
  <script type='text/javascript' src='{% static "frontend/scripts/form_fill.js" %}'></script>
  <link rel = "stylesheet" href='{% static "frontend/style/dash/dashboard.css" %}'>
  <link rel = "stylesheet" href='{% static "frontend/style/dash/center.css" %}'>
  <!-- <link rel = "stylesheet" href='{% static "frontend/style/button.css" %}'> -->

</head>

<div class="center-div">
{% block content %}
  <h3 >Forgot password</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn blue" type="submit">&nbspSubmit&nbsp</button>
  </form>
{% endblock %}
</div>
