<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>LDERP User</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type='text/javascript' src='{% static "frontend/scripts/homescripts.js" %}'></script>
  <script type='text/javascript' src='{% static "frontend/scripts/dashboard.js" %}'></script>
  <script type='text/javascript' src='{% static "frontend/scripts/form_fill.js" %}'></script>
  <link rel = "stylesheet" href='{% static "frontend/style/dash/dashboard.css" %}'>
  <link rel = "stylesheet" href='{% static "frontend/style/dash/form_fill.css" %}'>
  <link rel = "stylesheet" href='{% static "frontend/style/dash/search_ui.css" %}'>

</head>
<body>

<!-- Comment things out -->

<!-- Second Container -->
<span class="bckg"></span>
<header>
  <h1>{{user.username}}'s dashboard</h1>
  <nav>
    <ul>
      <li>
        <a href="javascript:show_student_pane();" data-title="Student Form">Add Student</a>
      </li>
      <li>
        <a href="javascript:show_search_pane();" data-title="Search">Search</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <div class="title">
    <h2>Student Form</h2>
    <a href="/logout/">Logout</a>
  </div>

  <!-- Please put things inside the article -->
  <article class="larg">
    <div class="container" id="student_adder">
  <form id="contact" action="" method="post">
    <legend><span class="number"></span> <h1>Personal Information</h1></legend>
    <fieldset>
      <input placeholder="Full Name. ex: Shiv B" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Student School Name" type="text" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Standard" type="text" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="Divison" type="text" tabindex="4" required>
    </fieldset>
    <fieldset>
      Date of filling:  <input placeholder="Date of filling" type="date" tabindex="5" required>
    </fieldset>
    <fieldset>
      Date of Birth:  <input placeholder="Date of Birth" type="date" tabindex="6" required>
    </fieldset>
    <br>
      <legend><span class="number"></span> <h1>Guardian Information</h1></legend>
      <legend><span class="number"></span>Father's Details</legend>
      <fieldset>
        <input placeholder="Father's Full Name" type="text" tabindex="7" required autofocus>
      </fieldset>
      <fieldset>
        <input placeholder="Father's Contact" type="tel" tabindex="8" required>
      </fieldset>
      <fieldset>
        <input placeholder="Father's email" type="email" tabindex="9" required>
      </fieldset>
      <fieldset>
        <input placeholder="Father's education" type="text" tabindex="10" required>
      </fieldset>
      <fieldset>
        <input placeholder="Father's Occupation" type="text" tabindex="11" required>
      </fieldset>
      <legend><span class="number"></span>Mother's Details</legend>
      <fieldset>
        <input placeholder="Mother's Full Name" type="text" tabindex="12" required autofocus>
      </fieldset>
      <fieldset>
        <input placeholder="Mother's Contact" type="tel" tabindex="13" required>
      </fieldset>
      <fieldset>
        <input placeholder="Mother's email" type="email" tabindex="14" required>
      </fieldset>
      <fieldset>
        <input placeholder="Mother's education" type="text" tabindex="15" required>
      </fieldset>
      <fieldset>
        <input placeholder="Mother's Occupation" type="text" tabindex="16" required>
      </fieldset>
      <br>
        <legend><span class="number"></span> <h1>Academic Information</h1></legend>
        <fieldset>
          <textarea name="GradeField" placeholder="Student Grades"></textarea>
        </fieldset>
        <fieldset>
          <h3>Difficulties in Languages:</h3>
          <input type="checkbox" name="disl" value="letter_identification">   a. identification of the letter<br>
          <input type="checkbox" name="disl" value="let_sound_assoc">   b. letter-sound association<br>
          <input type="checkbox" name="disl" value="spelling">    c. spellings<br>
          <input type="checkbox" name="disl" value="reading">   d. reading<br>
          <input type="checkbox" name="disl" value="comprehension">   e. comprehension<br>
          <input type="checkbox" name="disl" value="composition">   f. composition<br>
          <input type="checkbox" name="disl" value="grammar">   g. grammar<br>
        </fieldset>
        <fieldset>
          <h3>Difficulties in Mathematics:</h3>
          <input type="checkbox" name="dism" value="number_identification">   a. identification of numbers<br>
          <input type="checkbox" name="dism" value="forget_tables">   b. forget tables<br>
          <input type="checkbox" name="dism" value="carry_borr">    c. forget carry forwad and borrowing<br>
          <input type="checkbox" name="dism" value="frac_dec">   d. problem in fraction and decimal<br>
          <input type="checkbox" name="dism" value="problem_int">   e. problem in integers<br>
          <input type="checkbox" name="dism" value="algebra">   f. problem in algebraic equation<br>
        </fieldset>
        <fieldset>
          <h3>Score of Parental Checklist:</h3>
          a. awareness:    <input  type="number" tabindex="17" required> <br><br>
          b. acceptance:   <input  type="number" tabindex="18" required> <br><br>
          c. active participation:    <input  type="number" tabindex="19" required> <br><br>
          d. emotional support provided:   <input  type="number" tabindex="20" required> <br><br>
          e. aware about strengths:   <input type="number" tabindex="21" required> <br><br>
          f. parenting style:   <input  type="number" tabindex="22" required> <br><br>

        </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="student-submit" data-submit="...Sending">Submit</button>
    </fieldset>
  </form>


</div>


  <!--Search UI Goes Here -->

  <div class="container" id="search_pane">
	<div class="row" id="search">
		<form id="search-form" action="" method="POST" enctype="multipart/form-data">
			<div class="form-group col-xs-9">
				<input class="form-control" type="text" placeholder="Search" />
			</div>
			<div class="form-group col-xs-3">
				<button type="submit">Search</button>
			</div>
		</form>
	</div>
	<div class="row" id="filter">
		<form>
			<div class="form-group col-sm-3 col-xs-6">
				<select data-filter="disability" class="filter-make filter form-control">
					<option value="">Select Disability Type</option>
					<option value="">Show All</option>
				</select>
			</div>
			<div class="form-group col-sm-3 col-xs-6">
				<select data-filter="age_group" class="filter-model filter form-control">
					<option value="">Select Age Group</option>
					<option value="">Show All</option>
				</select>
			</div>
			<div class="form-group col-sm-3 col-xs-6">
				<select data-filter="gender" class="filter-type filter form-control">
					<option value="">Select Gender</option>
					<option value="">Show All</option>
				</select>
			</div>
			<div class="form-group col-sm-3 col-xs-6">
				<select data-filter="education" class="filter-price filter form-control">
					<option value="">Select Education</option>
					<option value="">Show All</option>
				</select>
			</div>
		</form>
	</div>
	<div class="row" id="products">

	</div>
</div>
  <script type='text/javascript' src="scripts/search_ui.js"></script>

  </article>
</main>

</body>
</html>
