<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>LDERP User</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type='text/javascript' src='{% static "frontend/scripts/homescripts.js" %}'></script>
  <script type='text/javascript' src='{% static "frontend/scripts/dashboard.js" %}'></script>
  <script type='text/javascript' src='{% static "frontend/scripts/form_fill.js" %}'></script>
  <link rel = "stylesheet" href='{% static "frontend/style/dash/dashboard.css" %}'>
  <link rel = "stylesheet" href='{% static "frontend/style/dash/form_fill.css" %}'>
  <link rel = "stylesheet" href='{% static "frontend/style/dash/search_ui.css" %}'>

</head>
<body>

<!-- Comment things out -->
{% block content %}
<!-- Second Container -->
<span class="bckg"></span>
<header>
  <h1>Dashboard</h1>
  <nav>
    <ul>
      <li>
        <a href="javascript:show_student_pane();" data-title="Student Form">Add Student</a>
      </li>
      <li>
        <a href="javascript:show_search_pane();" data-title="Search">Search</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <div class="title">
    <h2>Student Form</h2>
    <!-- <div class="share">
	<a href="#" style="none">Hello {{user.username}}</a>
	<div>
		<ul class="share">
			<li><a href="/logout/">Logout</a></li>
		</ul>
	</div>
</div> -->
  <div class="dropdown">
    <!-- button that expands the menu requirements:
          - id (referenced by menu's @aria-labelledby)
          - aria-haspopup (true)
          - aria-expanded (toggled true/false)
          - data-toggle="dropdown" (Bootstrap hook) -->
    <button id="dropdownMenu1" class="btn btn-default btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{user.username}}
      <span class="fa fa-cog"></span>
    </button>

    <!-- menu requirements:
          - @aria-labelledby on the ul to associate it with the button
          - @href for all links
          - role="separator" for all divider li (Bootstrap could/should do this) -->
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li class="dropdown-header">User: {{user.username}}</li>
      <li role="separator" class="divider"></li>
      <li><a href="{% url 'password_reset' %}">Reset Password</a></li>
      <!--<li><a href="#">Dummy Action</a></li>-->
      <!--<li><a href="#">Dummy Action</a></li>-->
      <li role="separator" class="divider"></li>
      <li>
        <a href="{% url 'password_change' %}">
          <span class="fa fa-lock"></span> Change Your Password
        </a>
      </li>
      <li>
        <a href="/admin/">
          <span class="fa fa-lock"></span>Admin Panel
        </a>
      </li>
      <li>
        <a href="/logout/">
          <span class="fa fa-times"></span> Sign Out
        </a>
      </li>
    </ul>
  </div>
  </div>

  <!-- Please put things inside the article -->
  <article class="larg">
    <div class="container" id="student_adder">
  <form id="contact" action='{% url "home" %}' method="post">
     {% csrf_token %}
    <legend><span class="number"></span> <h1>Personal Information</h1></legend>
      {{forms.student.stud_name}}
    <fieldset>
      {{forms.student.stud_school}}
    </fieldset>
    <fieldset>
      {{forms.student.stud_standard}}
    </fieldset>
    <fieldset>
      {{forms.student.stud_div}}
    </fieldset>
    <fieldset>
      Date of Filling:  {{forms.student.date_of_fill}}
    </fieldset>
    <fieldset>
      Date of Birth:  {{forms.student.date_of_birth}}
    </fieldset>
    <br>
      <legend><span class="number"></span> <h1>Guardian Information</h1></legend>
      <legend><span class="number"></span>Father's Details</legend>
      <fieldset>
        {{forms.student.father_name}}
      </fieldset>
      <fieldset>
        {{forms.student.father_contact}}
      </fieldset>
      <fieldset>
        {{forms.student.father_email}}
      </fieldset>
      <fieldset>
        {{forms.student.father_education}}
      </fieldset>
      <fieldset>
        {{forms.student.father_occupation}}
      </fieldset>
      <legend><span class="number"></span>Mother's Details</legend>
      <fieldset>
        {{forms.student.mother_name}}
      </fieldset>
      <fieldset>
        {{forms.student.mother_contact}}
      </fieldset>
      <fieldset>
        {{forms.student.mother_email}}
      </fieldset>
      <fieldset>
        {{forms.student.mother_education}}
      </fieldset>
      <fieldset>
        {{forms.student.mother_occupation}}
      </fieldset>
      <br>
        <legend><span class="number"></span> <h1>Academic Information</h1></legend>
        <fieldset>
          <textarea name="GradeField" placeholder="Student Grades"></textarea>
        </fieldset>
        <fieldset>
          <h3>Difficulties in Languages:</h3>
          <!--{{forms.student.letter_identification}}   a. identification of the letter<br>-->
          <!--{{forms.student.let_sound_assoc}}   b. letter-sound association<br>-->
          <!--{{forms.student.spelling}}    c. spellings<br>-->
          <!--{{forms.student.reading}}   d. reading<br>-->
          <!--{{forms.student.comprehension}}   e. comprehension<br>-->
          <!--{{forms.student.composition}}   f. composition<br>-->
          <!--{{forms.student.grammar}}   g. grammar<br>-->
          {{forms.student.language_disabilities}}
        </fieldset>
        <fieldset>
          <h3>Difficulties in Mathematics:</h3>
          <!--{{forms.student.number_identification}}   a. identification of numbers<br>-->
          <!--{{forms.student.forget_tables}}   b. forget tables<br>-->
          <!--{{forms.student.carry_borr}}    c. forget carry forwad and borrowing<br>-->
          <!--{{forms.student.frac_dec}}   d. problem in fraction and decimal<br>-->
          <!--{{forms.student.problem_int}}   e. problem in integers<br>-->
          <!--{{forms.student.algebra}}   f. problem in algebraic equation<br>-->
           {{forms.student.mathematical_disabilities}}
        </fieldset>
        <fieldset>
          <h3>Score of Parental Checklist:</h3>
           {% for metric_name, metric_form in metrics.items %}
            {{forloop.counter}} {{metric_name}}:<br>{{metric_form}}<br>
            {% endfor %}
          <!--a. awareness:<br>{{forms.student.awareness}} <br>-->
          <!--b. acceptance:<br>{{forms.student.acceptance}} <br>-->
          <!--c. active participation:<br>{{forms.student.active_participation}} <br>-->
          <!--d. emotional support provided:<br>{{forms.student.emo_support_provided}} <br>-->
          <!--e. aware about strengths:<br>{{forms.student.strength_awareness}} <br>-->
          <!--f. parenting style:<br>{{forms.student.parenting_style}} <br><br>-->

        </fieldset>
    <fieldset>
      <button name='action' value='student' type="submit" id="student-submit" data-submit="...Sending">Submit</button>
    </fieldset>
  </form>


</div>


  <!--Search UI Goes Here -->

  <div class="container" id="search_pane">
	<div class="row" id="search">
        <form id="search-form" action="{% url 'home' %}" method="POST" enctype="multipart/form-data">
            {%csrf_token%}
            <div class="form-group col-xs-9">
				{{forms.search.search}}
			</div>
			<div class="form-group col-xs-3">
				<button name='action' value='search' type="submit">Search</button>
			</div>
			<div class="form-group col-sm-3 col-xs-6">
                <select id="id_disability" name="disability" data-filter="disability" class="filter-make filter form-control">
                    {% for id, value in forms.search.fields.disability.choices %}
                        <option value="{{ id }}" {% if searchform.fields.disability.value == id %} selected{% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>
			</div>
			<div class="form-group col-sm-3 col-xs-6">
				<select id="id_age_group" name="age_group" data-filter="age_group" class="filter-make filter form-control">
                    {% for id, value in forms.search.fields.age_group.choices %}
                        <option value="{{ id }}" {% if searchform.fields.age_group.value == id %} selected{% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>
			</div>
			<div class="form-group col-sm-3 col-xs-6">
				<select id="id_gender" name="gender" data-filter="gender" class="filter-make filter form-control">
                    {% for id, value in forms.search.fields.gender.choices %}
                        <option value="{{ id }}" {% if searchform.fields.gender.value == id %} selected{% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>
			</div>
			<div class="form-group col-sm-3 col-xs-6">
				<select id="id_education" name="education" data-filter="education" class="filter-make filter form-control">
                    {% for id, value in forms.search.fields.education.choices %}
                        <option value="{{ id }}" {% if searchform.fields.education.value == id %} selected{% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>
			</div>
		</form>
	</div>
</div>
  <!-- <script type='text/javascript' src="scripts/search_ui.js"></script> -->

  <script type='text/javascript' src='{% static "frontend/scripts/form_fill.js" %}'></script>
  <script type='text/javascript' src='{% static "frontend/scripts/search_ui.js" %}'></script>

  </article>
</main>

</body>
</html>
{% endblock %}
