<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <title>LDERP Profile Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type='text/javascript' src='{% static "frontend/scripts/homescripts.js" %}'></script>
  <script type='text/javascript' src='{% static "frontend/scripts/expand.js" %}'></script>
  <link rel = "stylesheet" href='{% static "frontend/style/main.css" %}'>
  <link rel = "stylesheet" href='{% static "frontend/style/button.css" %}'>
  <link rel = "stylesheet" href='{% static "frontend/style/expand.css" %}'>

</head>
<body>

<!-- Comment things out -->

<!-- Second Container -->
<div class="container-fluid text-center ">
  <h2 class="margin">LD ERP</h2>
      
</div>

<!-- /I don't want a fotter here
<div class="footer">Contact us at: <a href="www.google.com">www.somewebsite.com</a></div>
-->
</body>
</html>
