.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 500px;
  height: 395px;
  background-color: #fff;
  border-radius: 3px;
}

.btn {
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 22px;
    text-decoration: none;
    margin: 20px;
    color: #fff;
    position: relative;
    display: inline-block;
    position: relative;
    top: 50%;
    left: 29%;
}

.blue {
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
}

.blue:hover {
  background-color: #6FC6FF;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    margin-left: 20%;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-top: 4%;
}

ul {
    margin: 0.75em 0;
    padding: 0 1em;
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    margin-left: 20px
}
li:before {
    content: "";
    border-color: transparent #008eef;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}

.paraG {
    margin: 0 0 10px;
    margin-top: 10%;
    margin-left: 20%;
}

h3 {
    font-size: 17px;
    margin: 0;
    line-height: 40px;
    color: #555;
    cursor: pointer;
    position: relative;
    margin-top: 20%;
    margin-left: 35%;
}
